:root {
    --primary-color:#27474eff; /* dark-slate-grey*/
    --secondary-color: #00c2d1ff; /* strong cyan */
    --accent1-color:#0a1045ff; /* deep navy*/  
    --accent2-color: #f9e900ff;  /*bright lemon*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.socialmedia img {
    width: 40px; 
    height: auto; 
    margin: 5px; 
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100% ;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /*white text)*/
}

.hero article img {
    float: right;
    width: 160px;
}
.hero article {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}